 body { background-color:purple
body {font-family: times


body {
	background-image: url(images/background.jpg); 
}

body {font-weight:bold; }

}
body {
font-family: arial

  font-size: 17px;


h2 {}

h2 {font-family: 
	color: black;


div {
  width: 300px;


